blue-color = rgb(53, 115, 217)
off-white = #eef

body
	background-color blue-color
	color #222
	font-family Open Sans

.jumbotron
	text-align center
	img.logo
		margin 0 auto
		width 50%
		max-width 400px
	a
		color blue-color

.img-wrap
	background-color rgba(white, .2)
	padding 8px
	margin 0 auto

.row-header
	color off-white

.student-thumb
	a
		color off-white

.instructor-bio
	.name
		margin 8px 0
	a
		color off-white
	.info
		text-align center
	.avatar
		width 200px