blue-color = rgb(53, 115, 217)

*
	font-family Open Sans

.jumbotron
	text-align center
	a
		color blue-color

body
	background-color blue-color

img.logo
	margin 0 auto
	width 50%
	max-width 400px

.student-thumb
	a
		color white

.instructor-bio
	a
		color white
	.name
		text-align center
	.avatar
		margin 0 auto
		width 200px