blue-color = rgb(53, 115, 217)
off-white = #eef

body
	background-color blue-color
	color off-white
	font-family Open Sans

.jumbotron
	color #223
	text-align center
	img.logo
		margin 0 auto
		width 50%
		max-width 400px
	a
		color blue-color

.img-wrap
	background-color rgba(white, .2)
	padding 8px
	margin 0 auto

.drop-cap
	vertical-align bottom
	font-size 2.5em
	color off-white

.row-header
	color off-white

.student-thumb
	.name
		padding-left .5em
		display table-cell
		vertical-align middle
	a
		color off-white
	.avatar
		width 100px
		min-width 100px
		display table-cell

.instructor-bio
	.name
		margin 8px 0
	a
		color off-white
	.info
		margin 6px 0
		text-align center
	.avatar
		width 200px
