body {
  background-color: #3573d9;
  color: #eef;
  font-family: Open Sans;
}
.jumbotron {
  text-align: center;
}
.jumbotron img.logo {
  margin: 0 auto;
  width: 50%;
  max-width: 400px;
}
.jumbotron a {
  color: #3573d9;
}
.img-wrap {
  background-color: rgba(255,255,255,0.2);
  padding: 8px;
  margin: 0 auto;
}
.drop-cap {
  vertical-align: bottom;
  font-size: 2.5em;
  color: #eef;
}
.row-header {
  color: #eef;
}
.student-thumb .name {
  padding-left: 0.5em;
  display: table-cell;
  vertical-align: middle;
}
.student-thumb a {
  color: #eef;
}
.student-thumb .avatar {
  width: 100px;
  min-width: 100px;
  display: table-cell;
}
.instructor-bio .name {
  margin: 8px 0;
}
.instructor-bio a {
  color: #eef;
}
.instructor-bio .info {
  margin: 6px 0;
  text-align: center;
}
.instructor-bio .avatar {
  width: 200px;
}
